* {
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;

}
.app{
  color: rgb(125, 125, 22);
  height: auto;
  min-height: 100vh;
  flex-wrap: wrap;
  width: 100%; 

}
body {
  justify-content: center;
  align-items: center;
  text-align:center; 
  flex-wrap: wrap;
  margin: auto;
  min-width: auto;

}
.mode {
display: flex;

}
.modeFloat {
  display: flex;
padding-top: 30px;
padding-left: 230px;
position: fixed;
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #121212;
}
.cartNumber{
  display: flex;

}
.cartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  background-color: black;
    padding: 0.8rem;
   font-size: 8px;
   height: 70px;
  }
.CategoryButtons {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
  
}
.btn-items {
  border: none;
  background-color: #f3ebf6;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 14px;
  box-shadow: 0px 5px 10px 0px black;
padding: 0 15px;
  height: 55px;
}
.mobile {
  
  padding:0 15px;
}
.image {
  width: 130px;
  height: 60px;
  border-radius: 30px;
} 
.decorate  {
width: 40px;
}
.favEmpty {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.shopNow-space {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.shopLink:hover {
  color: rgb(125, 125, 22);
}
.shopLink {
  text-decoration: none;
  color:#757575;

}
.shopNow {
  border-radius: 10px;
  border-color: aliceblue;
  font-size: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}
.empty {
padding-top: 35px;
}
.removeFav-btn {
  border-radius: 10px;
  border-color: aliceblue;
  font-size: 15px;
  width: 180px;
  height: 45px;
  cursor: pointer;
}
.removeFav {
  display: flex;
  padding: 15px;
  justify-content: center;
}
.container {
display: flex;
justify-content: center;
  }
  .number {
    display: flex;
    position: absolute;
    margin-left: 18px;
    font-size: 12px;
    margin-top: 18px;
    background-color: rgb(6, 6, 161);
    color:aliceblue;
    border-radius: 22px;
    width: 15px;
    justify-content: center;
  }
  .btn-out {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .btn-logOut {
background-color: #000;
color: rgb(6, 62, 193);
  }
  .btn-logOut:hover {
    cursor: pointer;
  }
  .user {
    font-size: 12px;
    color:#757575;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userOrders {
    color:#757575;
    text-decoration: none;
    padding: 29px 8px;
  }
  .userOrders:hover{
    box-shadow: 5px 5px 5px;
    color: rgb(125, 125, 22);
    border-radius: 25px;
  }
  .user-logOut{
    display: flex;
    padding-left: 5px;
  }
  .nextToCART {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    text-decoration: none;
  }
  .nextToCART:hover {
    color: rgb(125, 125, 22);
  }
  .back {
    display: flex;
  }
.carts {
  display: flex;
 padding-top: 15px;
   position: relative;
  justify-content: space-between;
 
}
.nav {
  background-color: black;
display: flex;
height: 80px;
 color: rgb(125, 125, 22);
 position: fixed; 
 top: 0; 
 width: 100%; 
}
.heart {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cart {
  display: flex;
  font-size: 15px;
  padding-right: 5px;
  
}
.my {
padding-right: 5px;
text-decoration: none;
}
.input {
  height: 50px;
  border-radius: 10px;
  display: flex;
width: 300px;
padding-left: 10px;
}
.in {
display: flex;

}
.handleWithFooter {
  min-height: 681px;
  padding-top: 125px;
  width: auto;
}
.navFlex {
  display: flex;
}
.where {
  display: flex;
  justify-content: center;
  justify-items: center;
align-items: center;
align-content: center;

}
.search {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  width: 100%;
 
}
.titleNav:hover {
  color: rgb(125, 125, 22);
  cursor: pointer;
}
.shopTitle:hover {
  cursor: pointer;
}
.shopTitle {
  font-size: 30px;

}
.titleNav {
text-decoration: none;
color:#757575;
font-size: 30px;
display: flex;
margin-left: 20px;
padding-right: 50px;
}
.theShop {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.center {
 padding-left: 20px;
 padding-top: 100px;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 688px;
}
.search-div {
display: flex;
align-items: center;
justify-content: center;
}
.search-input {
height: 50px;
border-radius: 20px;
width: 255px;
}
.search-icon {
display: flex;
margin-left: -30px;
font-size: 26px;
}
.noItemsInSearch{
 padding: 28px;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
}
.dis {
margin: 0  5px;
 font-size: 10px;
} 
.items:hover {
  cursor: pointer;
  box-shadow: 8px 3px 0  rgb(125, 125, 22);;
}
.items {
  justify-content: center;
  text-decoration: none;
  display: flex;
  border-right: 1px;
  box-shadow: 0px 5px 10px 0px black;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border-radius: 36px; 
  width: 250px;
}
.Cart-items{
  display: flex;
  border-right: 1px;
  font-size: 8px;
  box-shadow: 0px 5px 10px 0px black;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  width: 800px;
}

.toCart:hover {
  cursor: pointer;
  box-shadow: 8px 3px 0;
  color: rgb(125, 125, 22);
}
.toCart {
  border: none;
  outline: 0;
  padding: 12px;
  color:#757575;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  border-radius: 15px;
}
.pic {
border-radius: 30px;
  height: 150px;
  width: 250px;
  background-color: none;
}
.product-name {
font-size: 15px;
}
.add {
display: flex;
width: 250px;
font-size: 10px;
}
.my:hover {

  cursor: pointer;
  color: rgb(92, 114, 107);
}
.add:hover {
  color: rgb(92, 114, 107);
  cursor: pointer;
}
.price {
  display: flex;
}
.oldDollar {
  padding-right: 18px;
  text-decoration: line-through;  
  color:grey;
}
.dollar {
  padding-right: 35px; 
}

.money{
font-size: 11px;
display: flex;

margin: 0 10px;
}
.left {
  font-size: 10px;
}
.remove {
  display: flex;
  font-size: 12px; 
  height: 20px;
  align-items: center;
  justify-items: center;
  justify-content: center;
width: 25px;
  border-radius: 10px;
}
.positive {
  padding-top: 8px;
  padding-left: 5px;
}
.negative {
  padding-top: 9px;
  padding-right: 5px;
}
.havingItems{
  font-size: 12px;
}
.removeId {
display: flex;
padding: 0 8px;
border: 2px solid black ;
}
.del {
  display: flex;
  justify-content: space-between;
padding: 45px;
}
.remove-pad {
  padding: 0 65px;
}
.check {
  padding-left: 5px;

}
.letsCheck {
  width: 200px;
  border-radius: 15px;
  height: 55px;
  font-size: 17px; 
}
.total {
  padding-left: 25px;
 display: flex;
}
.totalCost {
  display: flex;
  font-size: 10px;
  padding: 5px;
  border: 2px solid black ;
}
.removeAll {
  width: 200px;
  border-radius: 15px;
  height: 55px;
  font-size: 20px;
}
.removeAll:hover {
  color: rgb(92, 114, 107);
  cursor: pointer;
}
.letsCheck:hover {
  color: rgb(92, 114, 107);
  cursor: pointer;
}
.images {
  background-color: red;
  width: 40px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toCategory {
  display: flex;
  padding-top: 7px;
  padding-left: -200px;
}
.fa-search {
padding-top: 3px;
}
.favoriteCart{
  display: flex;
margin-top: 9px;
padding-left: 17px;
}
.isFav {
  display: flex;
  padding-top: 12px;
  margin: 0 5px;
 
}
.favorite {

  cursor: pointer;
 display: flex;
}
.hearts-2 {
  width: 20px;
  height: 15px;
}
.hearts {
  width: 20px;
  height: 25px;
  padding-bottom: 5px;
}
.can-not-find {
font-size: 10px;

}
.your-search {
  display: flex;
  justify-content: center;

}
li {
  display: flex;
  justify-content: center;

}

.shopping-cart {
  min-height: 522px;
  padding-top: 40px;
  margin: 80px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.favNumbers {
  display: flex;
  position: absolute;
  margin-left: 18px;
  font-size: 13px;
  margin-top: -5px;
  background-color: rgb(6, 6, 161);
  color:aliceblue;
  border-radius: 30px;
  width: 20px;
  justify-content: center;
}
.controlFav {
  display: flex;
  padding-top: 12px;
}

.googleLogin {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: white;
    height: 50px;
    background-position: 12px 11px; 
}
.googleLogin:hover {
  box-shadow: 0 -1px 0 red;
  cursor: pointer;
}

.githubLogin {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  height: 50px;
  background-position: 12px 11px;  
}
.githubLogin:hover {
 cursor: pointer;
  box-shadow: 0 -1px 0 red;
}
.github {
  display: flex;
margin-top: 15px;
position: absolute;
margin-left: 9px;
font-size: 25px;
color: black;
}
.githubDiv {
  display: flex;
  padding-left: 8px;
}
.facebook-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  height: 50px;
  background-position: 12px 11px;   
}
.facebook-btn:hover {
  cursor: pointer;
  box-shadow: 0 -1px 0 red
}
.facebook {
  color: #3b5998 ;
  display: flex;
  margin-top: 13px;
  position: absolute;
  margin-left: 7px;
  font-size: 28px;
}
.google {
  display: flex;
  margin-top: 13px;
  position: absolute;
  margin-left: 7px;
  font-size: 28px;
}
.LOGIN {
  transition: background-color 0.3s, box-shadow 0.3s;

  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  width: 175px;
  font-size: 26px;  
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LOGIN:hover {
  cursor: pointer;
  box-shadow: 0 -1px 0 red;
}
.SIGNUP:hover {
  cursor: pointer;
  box-shadow: 0 -1px 0 red;
}
.SIGNUP {
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  width: 175px;
  font-size: 26px;  
  height: 55px;
}
.moveSignUp {
padding-top: 25px;
  display: flex;
  justify-content: center;
}
.with {
  display: flex;
}
.login {
 display: grid;
 padding-top: 100px;
 min-height: 684px;
 justify-items: center;
}
.resetPage {
  display: grid;
  justify-items: center;
  padding-top: 60px ;
  min-height: 681px;

}
.error {
  color: rgb(88, 86, 86);
  font-size: 15px;
  width: 360px;
  height: 35px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgb(244, 98, 98);
}
.correct {
  color: rgb(88, 86, 86);
  font-size: 15px;
  width: 380px;
  height: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: rgba(82, 201, 3, 0.731);
}
.welcomeBack{
  padding-top: 20px;
  font-size: 15px;
}
.loginEmail {
  height: 45px;
  width: 300px;
  display: flex;
  padding-left: 10px;
}
.fullName {
  height: 45px;
  width: 300px;
  display: flex;
  padding-left: 10px;
}
.loginPassword {
  height: 45px;
  width: 300px;
  display: flex;
  padding-left: 10px;
}
.register{
  padding-top: 15px;
  font-size: 15px;
}
.goRegister {
  border: none;
  background-color: #000;
  color: rgb(119, 119, 245);
}
.goRegister:hover {
  cursor: pointer;
color: aqua;
}
.loginContainer {
height: 500px;
width: 600px;
  display: grid;
  justify-items: center;
  background-color: #000;
}
.resetContainer {
  padding: 0 8px;
  height: 400px;
width: 600px;
  display: grid;
  justify-items: center;
  background-color: #000;
}
.choose {
  display: flex;
}
.reset-btn:hover {
  cursor: pointer;
}
.reset-btn{
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  color: #757575;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  width: 175px;
  font-size: 20px;  
  height: 55px;
  display: flex;
  box-shadow: 0 -1px 0 red;
  justify-content: center;
  align-items: center;
}
.cancel {
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(238, 15, 15, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: white;
    width: 175px;
    font-size: 26px;  
    height: 55px;
    display: flex;
    color: #757575;
    box-shadow: 0 -1px 0 red;
    justify-content: center;
    align-items: center;
}
.cancel:hover {
  cursor: pointer;
}
.cancelLink {
  color: #757575;

  text-decoration: none;
}
.pad-right {
  padding-right: 55px;
}
.signUpContainer {
padding-top: 60px;
}
.name {
  padding-bottom: 20px;
}
.emailHandle{
  padding-bottom: 20px;
}
.detailsContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  align-content: center;
  width: 550px;
  box-shadow: 0px 5px 10px 0px black;
}
.try {
  min-height: 681px;
  padding-top: 90px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  
}
.containers {
  padding-left: 5px;

  display: flex;
  font-size: 8px;
  flex-direction: column;
  border-right: 1px;
  width: 450px;
 
}

.Picture {
display: flex;
flex-direction: row;
padding-right: 5px;
height: auto;
}

.detailsPicture {
width: 90px;
padding: 8px 0;
height: auto;

}
.DetailsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.isFavDetails {
  display: flex;
}
.hearts-2Details {
 height: 40px;
 cursor: pointer;
  width: 50px;
}
.heartsDetails {
  height: 45px;
  cursor: pointer;
  width: 55px;
}
.handleTitleWithFav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.adds  {

  display: flex;
}
.DetailsCategory {
  padding-bottom: 8px; 
}
.DetailsBrand {
  padding-bottom: 8px;
}
.DetailsPrice {
  padding-bottom: 8px;
}
.DetailsDis{
  padding-bottom: 8px;
}
.Details {
  padding-bottom: 8px;
  font-size: 11px;
}
.DetailsRating {
  padding-bottom: 8px;
}
.DetailsLeft {
  padding-bottom: 8px;
}
.footerContacts {
  background-color: black;
  font-size: 15px;
  display: flex;
  width: 100%; 
  justify-content: center;
  align-items: center;
  color:#757575;
  height: 4rem;
}
.forget {
  display: flex;
  text-decoration: none;
}
.ResetPassword:hover {
  color: aqua; 
}
.ResetPassword {
  text-decoration: none;
  color: rgb(119, 119, 245);
}
  .or {
  font-size: 15px;
  padding-top: 20px;

}
.hiUser:hover {
  background-color: rgb(125, 125, 22);
  color: #000;
}
.hiUser {
  font-size: 20px;  
  border-radius: 35px;
}
.googleProfile {
display: flex;
padding-top: 20px;
padding-left: 5px;
}
.photoURL {
  border-radius: 50px;
  height: 40px;
}
.check-container {
  min-height: 684px;
  display: grid;
  padding-top: 130px;
  justify-items: center;
}
.details {
  height: 500px;
  padding: 0 20px;
  width: 600px;
  padding-bottom: 15px;
    display: grid;
    background-color: #000;
}
.first-part {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
.second-part {
  display: flex;
  padding-top: 10px;
  justify-content: center;
}
.first {
  display: flex;
  flex-direction: row;
}
.firstName {
  height: 40px;
  display: flex;
}
.colum-second{
  display: flex;
  flex-direction: column;
}
.colum {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.label-first {
  justify-content: center;
  display: flex;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address-input {
  height: 60px;
  width: 350px;
}
.handle-btn {
   display: flex;
   justify-content: center;
}
.backTOCart {
padding-right: 80px;
}
.backCart {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  height: 50px;
display: flex;
align-items: center;
justify-content: center;
  background-position: 12px 11px; 
  padding:0 35px;
}

.backCart:hover {
box-shadow: 0 -1px 0 red;
cursor: pointer;
}
.placeOrder {
 display: flex;
 justify-content: center;
 justify-items: center;
 align-items: center;
}
.backTOCart {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.style {
  text-decoration: none;

}
.space {
  padding: 0 10px;
}
.orders {
  min-height: 685px;
  padding-left: 50px;
  display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
}
.allOrders {
  box-shadow: 0px 5px 10px 0px black;
  border-radius: 50px;
  font-size: 15px;
  width: 150px;
  padding: 10px ;
}
.center-allOrders {
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderDecoration {
  text-decoration: none;
}
.orders-container {
  display: flex;
  border-right: 1px;
  font-size: 8px;
  box-shadow: 0px 5px 10px 0px black;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  width: 800px;
  color: rgb(125, 125, 22);
  
}
.div-loading {
  display: flex;
  padding-top: 300px;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  width: 80px;
  height: 80px;
}
.nameAndAddress {
  display: flex;
font-size: 8px;
padding-left: 15px;
}
.street {
padding-left: 35px;
}
.date{
font-size: 7px;
}
.showOrders {
  padding: 25px;
}
.delete-Item {
  font-size: 75px;
}
.delete-Item:hover{
  cursor: pointer;
}
.detailsS{
  height: auto;
  padding: 0 20px;
  width: 500px;
  border-radius: 36px; 
  padding-bottom: 15px;
    display: grid;
    background-color: #000;
    font-size: 10px;

}
.nexttO{
  display: flex;
  justify-content: space-between;
}
.handle-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}
.cancelOrder {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  height: 50px;
display: flex;
align-items: center;
justify-content: center;
  background-position: 12px 11px; 
  padding:0 35px;
}

.cancelOrder:hover {
box-shadow: 0 -1px 0 red;
cursor: pointer;
}
.order-details {
  padding-top: 80px;
  min-height:  685px;
  ;
}