* {
  box-sizing: border-box;
  min-width: auto;
  min-height: auto;

}
body {
  color: #e0f2f1;
  min-width: auto;
color: black;
}
.check-container {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}
.div-loading {
  display: flex;
  padding-top: 300px;
  justify-content: center;
  align-items: center;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  color: white;
  text-decoration: none;
}
.linkBlack{
  color: black;
  text-decoration: none;
}